

body, html {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

canvas {
    position:absolute;
    top: 0;
    left: 0;
}

.page {
    min-height: 100%;
    min-width: 100%;
    background-color:rgb(10, 10, 5);
}

.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 112, 163, 0.254);
    border-radius: 50px;
    padding: 10px;
    width: 400px; 
    height: 500px; 
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(6, 73, 161, 0.886);
    z-index: 1;
    transition: background-color 0.5s ease,
                border-width 0.5s ease,
                border-color 0.5s ease;
}

.container:hover {
    background-color: rgba(5, 7, 14, 0.878);
    border-color:  rgb(0, 38, 206);
    border-width: 8px;
}

.image {
    margin-top: 20px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("images/profile.png");
    background-size: cover;
    background-position: center;
    filter: invert(100%);
}

.text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre;
}

.fullname {
    margin-top: 10px;
    text-align: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icons img {
    margin-left: 25%;
    width: 60px;
    margin: 0 5px;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    filter: invert(100%);
}

.icons img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer .block {
    width: 50%;
    margin-right: 20px;
}

.h-line {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.652);
    width: 60%;
    top: 20px;
}

